<h1>Secret page</h1>

<img src="<%= user.qr %>">
<li><h2><%= user.user_.name %></h2></li>
<li><h2><%= user.user_.username %></h2></li>
<li><h2><%= user.user_.college %></h2></li>
<li><h2><%= user.user_.phone %></h2></li>